PATH=/app/.venv/bin:/usr/local/bin:/usr/bin:/bin
*/10 * * * * root . /etc/cron.env && cd /app && podcaster >> /var/log/cron.log 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job
